/* styles.css */
body {
    background-image: linear-gradient(45deg, 
        rgba(25, 136, 247, 1) 0%, 
        rgba(36, 131, 242, 1) 6%, 
        rgba(47, 125, 236, 1) 12%, 
        rgba(61, 119, 230, 1) 17%, 
        rgba(74, 112, 223, 1) 22%, 
        rgba(92, 103, 214, 1) 30%, 
        rgba(103, 98, 209, 1) 35%, 
        rgba(116, 91, 202, 1) 41%, 
        rgba(127, 86, 197, 1) 46%, 
        rgba(138, 80, 191, 1) 51%, 
        rgba(156, 71, 182, 1) 59%, 
        rgba(172, 63, 174, 1) 66%, 
        rgba(187, 55, 166, 1) 73%, 
        rgba(200, 49, 160, 1) 79%, 
        rgba(216, 41, 152, 1) 86%, 
        rgba(232, 33, 144, 1) 93%, 
        rgba(247, 25, 136, 1) 100%
    );
    filter: blur(3px);
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
